@import "tailwindcss";
@theme {
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
  --color-slate-850: #131c2e;
  --color-slate-750: #1e293b;
  --color-slate-650: #334155;
  --color-slate-450: #94a3b8;
  --color-slate-250: #cbd5e1;
  --color-teal-650: #0f766e;
  --color-red-650: #be123c;
}
@variant dark (&:where(.dark, .dark *));